*{
    margin: 0 auto;
}

.main .songlist th{
    height: 21px;
    border: black 1px solid;
}

.main .songlist .songName{
    width: 450px;
}
.main .songlist .classification{
    width: 200px;
}
.main .songlist .difficultyBasic{
    width: 65px;
    background: rgb(26,232,24);
    color: white;
    border: none;
}
.main .songlist .difficultyNormal{
    width: 65px;
    background: rgb(233,108,30);
    color: white;
    border: none;
}
.main .songlist .difficultyExpert{
    width: 65px;
    background: rgb(246,10,141);
    color: white;
    border: none;
}
.main .songlist .difficultyMaster{
    width: 65px;
    background: rgb(145,13,244);
    color: white;
    border: none;
}
.main .songlist .difficultyWE{
    width: 195px;
    background: black;
    color: white;
    border: none;
}
.main .songlist .uploader{
    width: 150px;
}
.main .songlist .remark{
    width: 528px;
}

.main .songlist td{
    text-align: center;
    border: black 1px solid;
}