*{
    margin: 0 auto;
}

div{
    text-align: center;
}

.main .titleImg{
    width: 100%;
    height: 1px;
}

.main .titleImg img{
    position: absolute;
    z-index: -1;
    width: 100%;
    opacity: 0.4;
}

.main .contain p{
    text-align: center;
    font-size: 40px;
    color: aquamarine;
}

.main .contain .btn{
    margin-top: 5px;
    width: 220px;
    height: 50px;
    line-height: 50px;
    color: white;
    background: blueviolet;
    cursor: pointer;
}

.main .contain .btn:last-child{
    background: darkgreen;
}